# Raspberry Pi filestorage2
RASPBERY_FILESTORAGE_KEY=
RASPBERY_FILESTORAGE_URL=192.168.1.105:4733

# Localhost filestorage2 (optional)
LOCALHOST_FILESTORAGE_URL=localhost:4733
LOCALHOST_FILESTORAGE_KEY=

# marginalias.net filestorage2 (used by /wiki and related commands)
MG_URL=https://marginalias.net
MG_KEY=
